<% provide(:title, "home") %>
<div class="center jumbotron main-area">
  
  <script>
  </script>
  
  <div class="profile-img">
    <img src="http://res.cloudinary.com/eliranf/image/upload/v1447444908/bezalel_ogqvdk.jpg" style="height:160; width:146px; margin-top:20px;" alt="Bezale">
  </div>
  
  <h4 class="resume-title">
    <b>
    השכלתי ונסיוני המקצועי
    </b>
  </h4>
  <ul class="resume-list">
    <li>
      (בוגר הפקולטה לרפואה האוניברסיטה העברית ירושלים (1972-1978
    </li>
    <li>
      (התמחות כירורגית אורטופדית מרכז רפואי "שיבא" תל השומר (1984-1990
    </li>
    <li>
      (בעל תעודת מומחה בכירורגיה אורטופדית (1990
    </li>
    <li>
      (בעל תעודת הסמכה ברפואת ספורט - אוניברסיטת תל אביב (2006
    </li>
    <li>
      (יועץ רפואי לקצין התגמולים אגף השיקום משרד הביטחון (2001-2014
    </li>
  </ul>
    
    <h4 class="current-title">
      <b>
    עיסוק רפואי כיום
      </b>
    </h4>
    <ul class="general-list">
      <li>
        .רופא בכיר במערך האורטופדי מרכז רפואי "אסף הרופא" צריפין
      </li>
      <li>
        .מנהל מרפאה / רופא עצמאי מכבי שירותי בריאות
      </li>
      <li>
        .יועץ רפואי לבית הדין לעבודה
      </li>
      <li>
        .פוסק רפואי ועדת ערר עליוני לענין גימלת נידות של משרד הבריאות
      </li>
    </ul>

    <h4 class="interest-title">
      <b>
    שטחי התעניינות מיוחדים
      </b>
    </h4>
    <ul class="general-list">
      <li>
        רפואת ספורט
      </li>
      <li>
        פגימות אורטופדיות גפה עליונה
      </li>
      <li>
        רפואה משפטית / נזקי גוף
      </li>
      
    </ul>
    
    <h4 class="org-title">
      <b>
    חברויות באיגודים מקצועיים
      </b>
    </h4>
    <ul class="general-list">
      <li>
        ההסתדרות הרפואית בישראל
      </li>
      <li>
        האיגוד האורתופדי הישראלי
      </li>
      <li>
        האיגוד הישראלי לכירורגיה של היד
      </li>
      <li>
        האגודה לרפואה ולמשפט בישראל
      </li>
      <li>
        האגודה לרפואת ספורט
      </li>
    </ul>
<h4 class="start-details">
      <b>
    יצירת קשר
      </b>
</h4>
    <ul>
      <li>
      ד"ר בצלאל פרידמן שרותי רפואה
      </li>
    </ul>
    <ul class="address-icn">
      <li>
      כתובת מרפאה : דרויאנוב 5 תל אביב
      </li>
    </ul>
     <ul  class="phone-icn">
      <li>
      טלפון מרפאה
      :&nbsp;03-5281133 / 03-6293211
      </li>
     </ul>
      <ul  class="office-icn">
      <li>
      משרד לברורים וקביעת תורים לחולים פרטיים
      :&nbsp;03-6480997
      </ul>
      <ul  class="mail-icn">
      <li>
      fridmanbr@gmail.com
      :&nbsp;דוא"ל
      </li>
       </ul>
    </ul>
</div>